<a class="" href="{{ .RelPermalink }}">

  <div class="card">
    <div class="card-image">
      {{ with .Params.picture }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
      {{ $pic := $imageResource.Resize "400x"}}
      <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
      {{ end }}
    </div>
    <div class="card-content">
      <h4>{{ .Title }}</h4>
    </div>
  </div>
</a>

