{{ define "main" }}

<div class="container has-background-white">
  <section class="section ">
    <div class="container has-text-centered">
      <h1 class="title is-2 is-title-font">{{ .Title }}</h1>
    </div>
  </section>

  {{ if .Params.picture }}
  <div class="has-text-centered">
    {{ partial "image.html" (dict "path" .Params.picture "alt" $.Title "dimension" "800x") }}
  {{ end }}
  </div>

  <section class="section ">
    <div class="container">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>

   <section class="section ">
    <div class="container">
      <div class="content is-italic">
        Publié le {{ .PublishDate.Format "02/01/2006" }}
      </div>
    </div>
  </section>
</div>



{{ end }}