{{ define "main" }}

<div class="container has-background-white">
  <section class="section ">
    <div class="container has-text-centered">
      <h1 class="title is-2 is-title-font">{{ .Title }}</h1>
    </div>
    {{ if .Params.main_picture }}
      {{ $pic := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.main_picture ) }}
      <img src="{{ $pic.Permalink }}" alt="Illustration de la page">
    {{ end }}
    {{ with .Params.short_description }}
      <div class="container px-5">
        <div class="content">
          {{ . | markdownify }}
        </div>
      </div>
    {{ end }}
  </section>
  {{ with .Params.appel_candidature_doc }}
    {{ $pdf := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
    <div class="has-text-centered">
      <a class="button" href="{{ $pdf.Permalink }}">Télécharger le cahier des charges de l'appel à candidature</a>
    </div>
  {{ end }}

  <section class="section ">
    <div class="container">
      <div class="content">
        {{ .Content }}

        {{ if (eq .Site.Data.global.afficher_formulaire_appel true)}}
        <iframe class="iframe" src="{{ .Site.Data.global.url_formulaire_appel }}" style="width:100%; height:1750px;"></iframe>  
        {{ end }}
      </div>
    </div>
  </section>
</div>

{{ end }}