{{ define "main" }}

<div class="container has-background-white">
  {{ partial "page_header.html" . }}

  <p class="has-text-centered"> 
    <a href="mailto:{{ .Site.Data.global.email_contact }}">{{ .Site.Data.global.email_contact }}</a>
  </p>
  <section class="section ">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-1">
          <p class="has-text-weight-bold">{{ .Site.Data.global.contact_1 }}
          <p class="">{{ .Site.Data.global.adresse_contact_1 | markdownify }}
        </div>
        <div class="column">
          <p class="has-text-weight-bold">{{ .Site.Data.global.contact_2 }}
          <p class="">{{ .Site.Data.global.adresse_contact_2 | markdownify }}
        </div>
    </div>
  </section>
</div>

{{ end }}