{{ define "main" }}

<section class="section ">
  <div class="container has-text-centered">
    <h1 class="title is-2 is-title-font">{{ .Title }}</h1>
  </div>
</section>
<section class="section ">
  <div class="container">
    <p class="mb-5">La Serre à projets a pu naître grâce au concours de trois types de partenaires.</p>
    <!-- Operationnels -->
    <div class="mb-5">
      <h2 class="title">Des partenaires opérationnels </h2>
      <div class="content">
        <ul class="no-style-list">
          {{ range $.Site.Data.partenaires.operationnels }}
          <li class="mb-3">
            <article class="columns is-vcentered">
              {{ with .picture }}
              <div class="column is-narrow media-left">
                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                {{ $pic := $imageResource.Resize "150x"}}
                <p class="image">
                  <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
                </p>
                {{ end }}
              </div>
              <div class="column media-content">
                <div class="content">
                  <span class="has-text-weight-bold">{{.title}}</span>
                  <div>{{.description}}</div>
                </div>
              </div>
            </article>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- Financiers -->
    <div class="py-3">
      <h2 class="title">Des partenaires financiers </h2>
      <div class="content">
        <ul class="no-style-list">
          {{ range sort $.Site.Data.partenaires.financiers "weight" }}
          <li class="mb-3">
            <article class="columns is-vcentered">
              {{ with .picture }}
              <div class="column is-narrow media-left">
                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                {{ $pic := $imageResource.Resize "150x"}}
                <p class="image">
                  <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
                </p>
                {{ end }}
              </div>
              <div class="media-content">
                <div class="content">
                  <span class="has-text-weight-bold">{{.title}}</span>
                  <div>{{.description}}</div>
                </div>
              </div>
            </article>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- Techniques -->
    <div class="mb-5">
      <h2 class="title">Des partenaires techniques</h2>
      <div class="content">
        <div class="columns is-vcentered">
          {{ range sort $.Site.Data.partenaires.techniques "weight" }}
          <div class="column">
            <article class="media">
              {{ with .picture }}
              <figure class="media-left">
                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                {{ $pic := $imageResource.Resize "150x"}}
                <p class="image">
                  <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
                </p>
                {{ end }}
              </figure>
            </article>
          </div>
          {{ end }}
        </div>
    </div>
  </div>
</section>

{{ end }}