{{ define "main" }}

<section class="section ">
  <div class="container has-text-centered">
    <h1 class="title is-2 is-title-font">{{ .Params.page_title }}</h1>
  </div>
</section>

<section class="section has-background-serre-green has-text-white">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        {{ partial "image.html" (dict "path" .Params.why_picture "alt" "logo la serre" "dimension" "300x") }}

      </div>
      <div class="column">
        <h2 class="title is-3 is-title-font has-text-white">{{ .Params.why_title }}</h2>
        <div class="content">
          <p>{{ .Params.why_content | markdownify }}</p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Comment -->
<section class="section">
  <div class="container">
    <header class="has-text-centered">
      <h2 class="title is-3 is-title-font">{{ .Params.how_title }}</h2>
      <div class="content mb-5">
        {{ .Params.how_content | markdownify }}
      </div>
    </header>
    <div class="content">
      <ol class="no-style-list">
      <div class="columns is-multiline">
        {{ range $index, $element := .Params.how_steps }}

          <div class="column is-6 py-0">
            <li>
              <div class="vignette">
                <div class="vignette-media">
                  {{ if $element.icon }}
                    {{ partial "image.html" (dict "path" $element.icon "alt" "icone" "dimension" "150x") }}
                  {{ end }}
                </div>
                <div class="vignette-content ">
                  <span class="has-text-weight-bold is-size-4">{{add $index 1}}.</span>
                  {{ $element.content | markdownify }}
                </div>
              </div>
            </li>
          </div>
          {{ end }}
        </div>
      </ol>
    </div>
  </div>
</section>

<section class="section has-background-serre-yellow">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <p class="">{{ .Params.how_action | markdownify }}</p>
        </div>
        <div class="column is-narrow">
          {{ $page := $.Site.GetPage "/appel-a-candidature" }}
          <a class="button mt-2 is-serre-green-dark" href="{{ $page.Permalink }}">Appel à candidature</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Qui choisit -->
<section class="section">
  <div class="container">
    <header class="has-text-centered">
      <h2 class="title is-3 is-title-font">{{ .Params.who_choose_title }}</h2>
      <div class="content">
        {{ .Params.who_choose_content_1 | markdownify }}
      </div>
    </header>
    <div class="content">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          {{ if .Params.who_choose_roles_picture }}
          {{ partial "image.html" (dict "path" .Params.who_choose_roles_picture "alt" "illustration comité de pilotage" "dimension" "350x") }}
          {{ end }}
        </div>
        <div class="column">
          <ol class="no-style-list">
            {{ range $index, $element := .Params.who_choose_roles }}
            <li>
                <span class="has-text-weight-bold">{{add $index 1}}.</span>
      
              {{ . }}
            </li>
            {{ end }}
          </ol>
        </div>
    </div>
    <div class="content">
      {{ .Params.who_choose_content_2 | markdownify }}
    </div>
  </div>
</section>

<!-- Territoire -->
<section class="section has-background-serre-green has-text-white">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="title is-3 is-title-font has-text-white">{{ .Params.territory_title }}</h2>
        <div class="content">
          {{ .Params.territory_content | markdownify }}
        </div>
      </div>
      <div class="column has-text-centered">
        {{ if .Params.territory_picture }}
        {{ partial "image.html" (dict "path" .Params.territory_picture "alt" "illustration comité de pilotage" "dimension" "350x") }}
        {{ end }}

      </div>

  </div>
</section>

<!-- Pour qui -->
<section class="section">
  <div class="container">
    <header class="has-text-centered">
      <h2 class="title is-3 is-title-font">{{ .Params.for_who_title }}</h2>
      <div class="content">
        {{ .Params.for_who_content | markdownify }}
      </div>
    </header>
    <div class="columns is-multiline mt-4">
      {{ range $index, $element := .Params.for_who_pictures }}
      <div class="column is-4 py-0">
          <div class="has-text-centered">
            <div class="">
              {{ if $element.picture }}
              {{ partial "image.html" (dict "path" $element.picture "alt" $element.title "dimension" "150x") }}
              {{ end }}
            </div>
            <div class="vignette-content ">
              {{ $element.title | markdownify }}
            </div>
          </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}