.button
  font-weight: bold

.promotion-button
  font-weight: normal
  height: auto
  text-align: left
  color: $white
  padding-top: 0
  padding-bottom: 0
  font-size: 2rem
  white-space: normal
  line-height: 1