<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

	<body>
		<div class="{{ if .Params.curvy_bg }} has-background-serre-green has-curvy-bg {{ end }}">
			{{ if .Params.curvy_bg }} 
				<div class="has-background-serre-yellow curvy-bg"></div>
			{{ end }}
			<header>
				{{ block "header" . }}
				{{- partial "header.html" . -}}
				{{ end }}
			</header>
			<div id="main">
				{{- block "main" . }}{{- end }}
			</div>
		</div>
			{{- partial "footer.html" . -}}
			{{- partial "javascript.html" . -}}
	</body>

</html>