{{ define "main" }}

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-2 is-title-font">{{ .Title }}</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{ range $index, $element := .Pages }}
      <div class="column is-4">
        {{ .Render "card"}}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}