{{ define "main" }}

<div class="container has-background-white">
    {{ partial "page_header.html" . }}

  <section class="section ">
    <div class="container">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
</div>

{{ end }}