  <div class="columns">
    <div class="column is-narrow">
      {{ if .Params.picture }}
      {{ partial "image.html" (dict "path" .Params.picture "alt" $.Title "dimension" "150x") }}
      {{ end }}
    </div>
    <div class="column">
      <h4 class="has-text-weight-bold is-size-5">{{ .Title }}</h4>
      <p class="content">{{ .Params.description | markdownify }}</p>
        {{ if (eq .Parent.Params.current_promotion true) }}
          {{ if and (eq .Site.Data.global.etape_promotion_actuelle "afficher_etude_opportunite") (.Params.etude_opportunite) }}
            {{ $pdf := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.etude_opportunite ) }}
            <a class="button" href="{{ $pdf.Permalink }}">Télécharger l'étude d'opportunité</a>
          {{ else if (eq .Site.Data.global.etape_promotion_actuelle "afficher_detail") }}
            <a class="button" href="{{ .RelPermalink }}">En savoir plus</a>
          {{ end }}
        {{ else }}
          <a class="button" href="{{ .RelPermalink }}">En savoir plus</a>
        {{ end }}
    </div>
  </div>

  



