{{ define "main" }}
<section class="section">
  <div class="container">
    <h2 class="title is-3 is-title-font">Toutes les promotions</h2>
    <div class="columns is-multiline">
      {{ range $index, $element := (.Pages).Reverse }}
        <div class="column is-4">
          <a class="button promotion-button is-serre-green-dark is-title-font is-fullwidth" href="{{ .RelPermalink }}">
          {{ partial "image.html" (dict "path" "/uploads/ideogramme-blanc.png" "alt" "logo la serre" "dimension" "200x") }}
          {{.Title}}
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1 is-title-font">Les projets de la promotion actuelle</h1>
  </div>
</section>

{{ $current_promotion := where (where .Site.RegularPages "Type" "projets") ".Parent.Params.current_promotion" true }}
{{ range $index, $element := $current_promotion }}
  <section class="section {{if (mod $index 2) | eq 0}}has-background-serre-yellow{{ end }}">
    <div class="container ">
        {{ .Render "card"}}
    </div>
  </section>
{{ end }}


{{ end }}