{{ define "main" }}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1 is-title-font">{{ .Title }}</h1>
  </div>
</section>

{{ range $index, $element := .Pages }}
  <section class="section {{if (mod $index 2) | eq 0}}has-background-serre-yellow{{ end }}">
    <div class="container ">
        {{ .Render "card"}}
    </div>
  </section>
{{ end }}


{{ end }}