{{ define "main" }}

<div class="container has-background-white">
  <section class="section ">
    <div class="container has-text-centered">
      <h2 class="subtitle is-3 is-title-font">- {{ .Parent.Title }} -</h1>
      <h1 class="title is-1 is-title-font">{{ .Title }}</h1>
    </div>
    {{ if .Params.photo }}
      <div class="has-text-centered pt-3">
        {{ $pic := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.photo ) }}
          <img src="{{ $pic.Permalink }}" alt="Photo {{.Title}}">
        {{ end }}
      </div>
    {{ with .Params.short_description }}
      <div class="container has-text-centered px-5">
        <div class="content">
          {{ . | markdownify }}
        </div>
      </div>
    {{ end }}
  </section>

  <section class="section ">
    <div class="container">
      <div class="">
        <div class="columns">
        <div class="column is-2">
        {{ if .Params.picture }}
          {{ partial "image.html" (dict "path" .Params.picture "alt" $.Title "dimension" "150x") }}
          {{ end }}
        </div>
        <div class="column">
          <div class="content mb-5">
          {{ .Content }}
          </div>
          {{ with .Params.etude_opportunite }}
            {{ $pdf := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
            <a class="button has-text-weight-normal is-fullwidth" href="{{ $pdf.Permalink }}">Télécharger l'étude d'opportunité</a>
          {{ end }}
        </div>
        <div class="column">
          <div class="has-background-light p-5 has-text-centered">
            <h3 class="title is-size-3 is-title-font mb-5">Porteur de projet</h3>
            {{ with .Params.nom_orga_porteur }}
            <p class="has-text-weight-bold">{{.}}</p>
            {{ end }}
            {{ with .Params.nom_contact_porteur }}<p>{{.}}</p>{{ end }}
            {{ with .Params.tel_porteur }}
              <p><a href="tel:{{.}}"> {{ . }}</a></p>
            {{ end }}
            {{ with .Params.mail_porteur }}
              <p><a href="mailto:{{.}}"> {{ . }}</a></p>
            {{ end }}
            {{ with .Params.site_web_porteur }}
              <p><a href="{{.}}"> {{ . }}</a></p>
            {{ end }}
            <br>
            {{ with .Params.adresse_porteur }}<p>{{.}}</p>{{ end }}
            {{ with .Params.ville_porteur }}<p>{{.}}</p>{{ end }}

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ end }}