.is-home-pictured
  position: relative
  background-repeat: no-repeat
  background-position: center 10px
  background-size: cover
  padding: 28rem 1.5rem 4rem
  h1.title
    margin-bottom: 30rem
  .hero-body
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: space-between
