// Index
.has-curvy-bg
  position: relative
  overflow: hidden

.curvy-bg
  position: absolute
  width: 150%
  height: 70%
  left: -25%
  border-radius: 100%
  top: 50%

.iframe
  width: 100%
  min-height: 800px