{{ with .Site.Data.global.bandeau_accueil }}

  {{ if eq . "presentation"}}
    {{ $page := $.Site.GetPage "/presentation" }}
      <div class="columns">
        <div class="column">
          <p class="">Des idées pour faire avancer la transition écologique du territoire nancéien ? Découvrez comment la Serre à projets peut
            vous aider à les valoriser !</p>
          </div>
          <div class="column is-narrow">
            <a class="button is-serre-green-dark mt-2" href="{{ $page.Permalink }}">Lire la présentation</a>
          </div>
      </div>
  {{ end }}

  {{ if eq . "candidature"}}
    {{ $page := $.Site.GetPage "/appel-a-candidature" }}
    <div class="columns">
      <div class="column">
        <p class="">Envie de vous investir dans l’une des idées en émergence au sein de la Serre à projets ? Préparez-vous à répondre à
      l’appel à candidature !</p>
      </div>
      <div class="column is-narrow">
        <a class="button mt-2 is-serre-green-dark" href="{{ $page.Permalink }}">Voir l'appel à candidature</a>
      </div>
    </div>
  {{ end }}

  {{ if eq . "projets"}}
    {{ $page := $.Site.GetPage "/projets" }}
    <div class="columns">
      <div class="column">
        <p class="">Les projets en émergence au sein de la Serre à projets ont trouvé leurs porteurs ! Venez les découvrir !</p>
      </div>
      <div class="column is-narrow">
        <a class="button mt-2 is-serre-green-dark" href="{{ $page.Permalink }}">Voir les projets</a>
      </div>
    </div>
  {{ end }}

{{ end }}