<footer class="footer has-background-serre-green">
  <div class="container footer-nav">

    <ul class="">
        <li>
        <a class="has-text-white" href="mailto:{{ .Site.Data.global.email_contact }}">{{ .Site.Data.global.email_contact }}</a>
        </li>
      {{ range .Site.Menus.footer }}
      {{ $text := print .Name | safeHTML }}
      <li>
        <a class="has-text-white" href="{{ .URL }}">{{ $text }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</footer>