<section class="section ">
  <div class="container has-text-centered">
    <h1 class="title is-2 is-title-font">{{ .Title }}</h1>
  </div>
  {{ if .Params.main_picture }}
    {{ $pic := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.main_picture ) }}
    <img src="{{ $pic.Permalink }}" alt="Illustration de la page">
  {{ end }}
  {{ with .Params.short_description }}
    <div class="container has-text-centered px-5">
      <div class="content">
        {{ . | markdownify }}
      </div>
    </div>
  {{ end }}
</section>