{{ define "header" }}
<div class="has-background-serre-green has-curvy-bg pt-5">
  <div class="has-background-serre-yellow curvy-bg"></div>
  <div class="container ">
    <header class="header has-background-white">
      {{- partial "top-nav.html" . -}}
      {{ $home_picture := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.main_picture ) }}
      <section class="section pb-1">
        <h1 class="title is-spaced is-title-font has-text-centered is-1">
          {{ .Params.baseline }}
        </h1>
      </section>
      <section class="is-home-pictured" style="background-image: url('{{ $home_picture.Permalink }}')">
        <p>{{ .Params.short_description }}</p>
      </section>
    </header>

    <section class="section">
        {{ partial "bandeau_accueil.html" . }}
    </section>
  </div>
</div>
{{ end }}

{{ define "main" }}
  <main aria-role="main">
    <div class="has-background-serre-green">
      <div class="container has-background-white">
          <!-- Actualites -->
        <section class="section">
          <div class="has-text-centered title my-5">
            <h2 class="title">Nos dernières actualités</h2>
          </div>
          <div class="columns">
            {{ $actualites := where .Site.RegularPages "Type" "actualites" }}
            {{ range $index, $element := first 3 ( $actualites ) }}
            <div class="column is-4">
              {{ .Render "card"}}
            </div>
            {{ end }}
          </div>
        </section>
        <!-- Projets -->
        <section class="py-1 has-background-light">
          <div class="has-text-centered title my-5">
            <h2 class="title">Nos derniers projets</h2>
          </div>
        </section>
          <section class="section">
          <div class="container">
            {{ $projets := where (where .Site.RegularPages "Type" "projets") ".Parent.Params.current_promotion" true }}

            {{ range $index, $element := first 3 ( shuffle ($projets) ) }}
              {{ .Render "card"}}
            {{ end }}
          </div>
        </section>
      </div>
    </div>
  </main>
{{ end }}