<div class="card my-5">
  <div class="card-content">
    <h4 class="is-size-4">Debug</h4>
    section : {{ .Section }}
    <br>
    kind : {{ .Kind }}
    <br>
    type : {{ .Type }}
    <br>
    layout : {{ .Layout }}
    <br>
    dir : {{ .Dir }}
  </div>
</div>

{# {{ partial "debug" . }} #}