<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ with .Site.Params.author }}  <meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Data.global.seo_description }}  <meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Data.global.seo_keywords }}  <meta name="keywords" content="{{ . }}">{{ end }}
  <link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png" />
  {{ if .Site.RSSLink }}<link rel="alternate" href="{{ .Site.RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}"/>{{ end }}
  <meta name="environment" value="{{ hugo.Environment }}">
  {{ if not (eq hugo.Environment "production") }}
    <meta name="robots" content="noindex,nofollow">
  {{ end }}

  {{ if .Site.IsServer }}
    {{ $cssOpts := (dict "targetPath" "css/main.css" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.css" . | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  {{ else }}
    {{ $cssOpts := (dict "targetPath" "css/main.css" ) }}
    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.css" . | toCSS $cssOpts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
      crossorigin="anonymous" media="screen" />
  {{ end }}
  {{ hugo.Generator }}
  
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.vps8.sosf.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</head>