{{ define "main" }}

<section class="section">
  <div class="container">
    <h1 class="title is-1">{{ .Title }}</h1>
    <div class="columns is-multiline">
      {{ range $index, $element := .Pages }}
      <div class="column">
        {{ .Render "card"}}
      </div>
      {{ end }}
    </div>

    {{ partial "debug" . }}

  </div>
</section>
{{ end }}