{{ define "main" }}

<section class="section ">
  <div class="container">
    <h1 class="title is-1">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>

    {{ partial "debug" . }}
  </div>
</section>

{{ end }}